@import "/packages/bootstrap3-less/bootstrap.lessimport";

@margins: 5%;

body {
	margin: 2%;
}

.titleAndCopyright {
	width: 90%;
	margin: 0 @margins;
	height: 60px;
	line-height: 60px;
	vertical-align: baseline;
}

.glyphicon {
	font-size: 17px;
	margin-top: 2px;
	vertical-align: top;
	color: gray;
}

.title {
	.h1;
}

.copyright {
	float: right;
}

#canvas {
	cursor: none;
	border: 1px solid #eeeeee;
	border-radius: 5px;
}

/* 

Lock a div to a specific aspect ratio. I had a bit of trouble doing this and
centering the div. It turned out to be a combination of things:

 - Use the fact that 'padding-top' %s are relative to the width: http://stackoverflow.com/questions/12121090/responsively-change-div-size-keeping-aspect-ratio
 - Use the fact that you can specify margins as %s: http://stackoverflow.com/questions/2624159/centering-a-percent-based-div 

*/
.aspectRatio-16-9 {
	width: 90%;
	margin: 0 @margins;
	position: relative;
}

.aspectRatio-16-9:after {
	padding-top: 56.25%;
	display: block;
	content: '';
}

.aspectRatio-16-9 > div {
	position: absolute;
	top: 0; bottom: 0; right: 0; left: 0; /*fill parent*/
}
